<%- include('../includes/header.ejs') %>

<body>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="jumbotron">
            <div class="container">
                <h1>Signup</h1>
                <form action="/signup" method="post">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Names</label>
                        <input type="text" class="form-control" name="name" aria-describedby="namehelp"
                            placeholder="Enter Names">
                        <small id="namehelp" class="form-text text-muted">Don't be scared, it's just your name</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" name="email" aria-describedby="emailHelp"
                            placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputConfirmPassword1">Confirm Password</label>
                        <input type="password" class="form-control" name="confirmPassword"
                            placeholder="Confirm Password">
                    </div>
                    <button type="submit" class="btn btn-large btn-block btn-success">Create Account</button>

                </form>
            </div>
        </div>
    </div>

</body>
<%- include('../includes/footer.ejs') %>