<%- include('../includes/header.ejs') %>

<body>
    <%- include('../includes/navbar.ejs') %>
    <div class="container">
        <br>
        <a href="/admin/">View All Products</a>
        <div class="jumbotron">
            <form action="/admin/add-product" method="POST">
                <input type="hidden" name="_csrf" id="input_csrf" class="form-control" value="<%= csrfToken%>">
                <legend>Add Item</legend>
                <div class="form-group">
                    <label for="title">Item</label>
                    <input type="text" name="title" class="form-control" id="title" placeholder="Enter Item Title">
                </div>
                <div class="form-group">
                    <label for="title">Image URL</label>
                    <input type="text" name="imgUrl" class="form-control" id="imgUrl" placeholder="Enter Item Image">
                </div>
                <div class="form-group">
                    <label for="title">Price</label>
                    <input type="text" name="price" class="form-control" id="price" placeholder="Enter Item Price">
                </div>
                <div class="form-group">
                    <label for="title">Description</label>
                    <input type="text" name="description" class="form-control" id="description"
                        placeholder="Enter Item Description">
                </div>
                <button type="submit" class="btn btn-block btn-primary">Submit</button>
            </form>
        </div>

    </div>
</body>
<%- include('../includes/footer.ejs') %>