<%- include('includes/header.ejs') %>

<body>
    <%- include('includes/navbar.ejs') %>
    <div class="container">
        <br>
        <div class="jumbotron">
            <form action="/shop/add-product" method="POST">
                <legend>Add Item</legend>
                <div class="form-group">
                    <label for="item">Item</label>
                    <input type="text" class="form-control" id="item" placeholder="Enter Item">
                </div>
                <button type="submit" class="btn btn-block btn-primary">Submit</button>
            </form>
        </div>
        
    </div>
</body>
<%- include('includes/footer.ejs') %>