<%- include('includes/header.ejs') %>
<body>
    <%- include('includes/navbar.ejs') %>
    <br>
    <div class="container">
        <div class="jumbotron">
            <div class="container">
                <center>
                    <h1>List Of Items</h1>
                </center>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Type</th>
                            <th scope="col">Column heading</th>
                            <th scope="col">Column heading</th>
                            <th scope="col">Column heading</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(prods.length < 0){ %>
                        <% for(let product in prods){ %>
                        <tr class="table-active">
                            <th scope="row">Active</th>
                            <td>Column content</td>
                            <td>Column content</td>
                            <td>Column content</td>
                        </tr>
                        <% } %>
                        <%}else{%>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>No Item Found</td>
                        </tr>
                        <%}%>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</body>
<%- include('includes/footer.ejs') %>