<%- include('../includes/header.ejs') %>

<body>
    <%- include('../includes/navbar.ejs') %>
    <br>
    <div class="container">
        <div class="jumbotron">
            <div class="container">
                <center>
                    <h1>Checkout Not Ready At The Moment</h1>
                </center>
            </div>
        </div>

    </div>
</body>
<%- include('../includes/footer.ejs') %>